__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
build/
dist/
*.egg-info/
.idea/
.vscode/
.DS_Store
.env
.env.*
coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
.pyre/
.mypy_cache/
.pytype/
celerybeat-schedule
instance/
.webassets-cache
.scrapy/
docs/_build/
*.log
*.sqlite3
*.db
*.sqlite
*.bak
*.swp
*.lock
backend.log
uv.lock
.ruff_cache/